/* Splide */
.splide:not(.is-overflow) .splide__arrows {
  display: none;
  color: #000000;
}

.splide {
  padding: 0;
  margin: 0;
}

.customZ {
  z-index: 9999 !important;
}

.custom0 {
  z-index: 0 !important;
}
.splide .splide__arrow svg {
  fill: rgba(27, 155, 212, 80%);
}

.splide .splide__arrow:hover svg {
  fill: rgba(27, 155, 212, 100%);
}
